.movie-card {
  $this: &;

  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
  background-color: #f3f3f3;
  text-decoration: none;
  font-size: 14px;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &__desc {
    display: flex;
  }

  &__name {
    font-weight: bold;
  }

  &__star-button {
    position: absolute;
    right: -10px;
    top: -5px;
  }

  &--card {
    flex-direction: column;

    #{$this}__img {
      margin-bottom: 10px;
    }

    #{$this}__genres {
      display: none;
    }

    #{$this}__desc {
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  }
}
