.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 20px;
  justify-content: space-around;
  padding: 30px;
  width: 80%;
  border: 2px solid #f3f3f3;
  border-radius: 8px;
}
