.favorites {
  position: relative;
  width: 20%;
  min-width: 200px;
  background-color: #e8f6f7;
  border-radius: 8px;

  $this: &;

  &__btn {
    display: none;

    @media (max-width: 767px) {
      display: block;
      width: 20px;
      height: 70px;
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
    }
  }

  @media (max-width: 767px) {
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100vh;
    right: -200px;

    &--opened {
      right: 0;
    }
  }
}

.favorites-list {
  padding: 30px 24px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__del {
    border: none;
    background: none;
    color: #aeb5bc;

    &:focus,
    &:active {
      border: none;
      outline: none;
      color: #e36060;
    }

    &:hover {
      color: #e36060;
      cursor: pointer;
    }
  }
}
