.favorites {
  position: relative;
  width: 20%;
  min-width: 200px;
  border: 1px solid black;
  background-color: $primary-color;

  $this: &;

  &__btn {
    display: none;

    @media (max-width: 767px) {
      display: block;
      width: 20px;
      height: 70px;
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
    }
  }

  @media (max-width: 767px) {
    position: fixed;
    height: 100vh;
    top: 0;
    right: -200px;

    &--opened {
      right: 0;
    }
  }
}

.favorites-list {
  padding: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
