* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #53555b;
}

.app {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
}
.star-button {
  position: relative;
  outline: 0;
  border: 0;
  padding: 0;
  background: transparent;
  width: 39px;
  height: 36px;
  cursor: pointer;
  z-index: 1;

  .star {
    fill: gray;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &--is-active {
      fill: gold;
    }
  }
}

@import "components/MovieCard/MovieCard";
@import "components/FavoritesList/FavoritesList";
@import "components/MoviesList/MoviesList";
@import "components/Modal/Modal";
